.app{
  overflow: hidden;
  padding: 40px 80px;
}

body {
  margin: 0 auto;
}


ul {
  text-align: center;
}

#content {
  overflow: auto;
}


li {
  display: inline;
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-family: 'Aclonica', sans-serif;
  font-size: 3em;
}

.nav{
  padding: 0;
}

.nav a{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5em;
  padding: 10px 25px;
  font-weight: 800;
  color: black;
}

.products,
.contact{
  opacity: 50%;
}

.top-icon{
  position: relative;
}

.user::after{
  top: 18px;
  right: 0px;
  content: "";
  display: block;
  position: absolute;
  border: 1px solid black;
  height: 20px;
}

.top-icon li{
  font-size: 2em;
}

.control-icon{
  position: relative;
  cursor: pointer;
  padding: 10px 20px;
}


.menu{
  margin-right: -20px;
}

/* Slider */

.slider{
  display: flex;
  height: 494px;   
  background-color: #c1dcdc;
  border-radius: 10px;
  justify-content: space-between;
}

.slider-img{
  margin-right: 80px;
}

.content-title{
  margin-left: 60px;
  font-size: 4em;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 300;
  text-transform: uppercase;
}

.quantity{
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  font-size: 1.5em;
  line-height: 0.1;
}

.plant{
  position: relative;
}

.plant::after{
  top: 18px;
  right: -150px;
  content: "";
  display: block;
  position: absolute;
  border: 1px solid black;
  height: 50px
}

.slider-looking-for{
  position: relative;
  margin: 50px 60px;
  border-radius: 10px;
  width: 550px;
  height: 60px;
  font-size: 1.2em;
  padding-left: 20px;
}

.looking-for-search{
  border-radius: 10px;
  position: absolute;
  text-align: center;
  line-height: 48px;
  width: 48px;
  height: 48px;
  background-color: #c1dcdc;
  margin-top: 59px;
  margin-left: -130px
}

.looking-for-search{
  line-height: 55px;
}

/* Selling */
.selling{
  margin-top: 50px;
  display: flex; 
  border-radius: 10px;
}


.selling-content{
  padding: 20px 40px;
  width: 400px;
}

.content-header{
  font-size: 3.5em;
}

.content-paragrap{
  font-size: 2em;
}

.content-btn{
  background-color: #c1dcdc;
  width: 200px;
  height: 50px;
  border-radius: 20px;
}

.selling-product{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.product-item{
  display: block;
  margin: 20px 60px;
  text-decoration: none;
}

.product-item a{
  display: block;
  text-decoration: none;
}

.home-product-item__img{
  width: 100%;
}

.home-product-item__name{
  font-size: 1.8rem;
  font-weight: 400;
  margin: 10px 10px 6px;
  color: black;
  text-transform: uppercase;
}

.home-product-item__price{
  margin-left: 10px;
  font-size: 1.4rem;
  color: black;
  text-transform: uppercase;
  opacity: 60%;
  font-weight: 200;
}

/* About */

.about {
  margin-top: 48px;
  text-align: center;
}

.about__content {
  display: flex;
  justify-content: space-between;
  padding: 32px;
}

.about__header h1 {
  font-size: 3em;
}

.about__header p {
  color: #6e6e6e;
  font-size: 1.5em;
}


.about__item-img {
  margin: 0 auto;
  padding: 25px;
  border-radius: 50%;
}


.about__item-header {
  font-weight: bold;
  font-size: 2em;
}


.about__item p {
  opacity: 60%; 
  font-size: 1.5em;
}


/* footer */
.footer{
  background-color: #c1dcdc;
  /* height: 423px; */
  margin: 0 -80px -40px;
}

.footer-content{
  padding: 0px 80px;
}

.footer-content{
  display: flex;
  justify-content: space-between;
}

.footer-left h4{
  font-size: 2em;
  text-transform: uppercase;
}

.footer-left p{
  font-size: 1.5em;
  color: #737373;
}

.footer-iont i{
  padding: 0 10px;
}

.footer-iont-facebook{
  margin-left: -10px;
}

.footer-right{
  display: flex;
}

.footer__heading {
  display: block;
  font-size: 2em;
  padding-left: 40px;
}

.footer-list{
  padding-left: 40px;
  list-style: none;
}


.footer-item__link{
  display: flex;
  text-decoration: none;
  font-size: 1.5em;
  color: #737373;
  padding: 4px 0;
}

.copyright{
  margin-top: 50px;
  padding: 0 0 10px 80px;
}


